<div class="expenses">
    <div ng-controller="ExpensesListSelectCtrl">

        <div class="expenseItem ready" ng-repeat="expense in expenses | filter:searchedExpense">
            <div class="itemName half left alignLeft">
                <div class="icon inBl">
                    <span>{{ expense.description }}</span>
                </div>
                <div class="inBl">
                    <div>{{ expense.date }}</div>
                </div>
            </div>
            <div class="itemName half right alignRight">
                <div>
                    <span class="money">{{ expense.originalAmount | currency }}</span>

                    <span ng-show="expense.imageType == 'void' " class="icon">thick</span>
                    <span ng-show="expense.imageType != 'void' " class="icon">photo</span>
                </div>
            </div>
        </div>
    </div>

</div>