<div class="info-text hidden-desc">
          <div class="left-part">
            <p class="bold">Currency</p>
            <p class="bold">Rate</p>
            <div ng-switch="expense.imageType !== 'void'" class="container">
              <div class="bold" ng-switch-when="true" ng-click="showInvoiceImage()">
                Click here to view image
              </div>
              <div class="bold" ng-switch-when="false">
               No image
             </div>
           </div>
         </div>
         <div class="right-part">
          <p>{{expense.currency.code}} - {{expense.currency.name}}</p>
          <p>{{expense.exchangeRate}}</p>
        </div>
        <div class="margins alignRight right">
         <div class="small">
           <div class="bin"></div>
         </div>
         <div ng-click="editExpense(expense)" class="small">
           <div class="edit"></div>
         </div>
       </div>
     </div>