/* addExpenses */

.addExpenses .header{
  margin-top:-30px;
  padding-left: 0;
  padding-right: 0;
  width:102.8%;
  margin-left:-30px;
  background-color: rgb(176,178,183);
  font-size: 1.5em;
  height:2em;
  padding-top: 1em;
}
.left{
  float:left;
}
.btn-green{
  background-color: rgb(81,177,29)!important;
}
.addExpenses .btn-green{
  margin-top: 5em;
}