/* addExpenses */

.fift{
  width:15%;
}
.expenses .left.fift{
  height: 1em;
  width: 1em;
  background-image: url('../resources/images/cancelB.png');
  background-size: 100% 100%;
  margin-left: 1.5em;
  margin-top: 0.1em;
}
.btn-green{
  background-color: rgb(66,172,97)!important;
}
.pullDown{
	position: absolute;
	height: 2em;
	width: 2.4em;
	background-image: url('../resources/images/down.png');
	background-size: 100% 100%;
}
.date{
	background-image: url('../resources/images/date.png');
}
.camera{
	border: 1px solid rgb(103,186,57);
	border-radius: 70px;
	height: 8em;
	width:8em;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 2em;
}
.camera .icon{
	height: 4em;
	width: 5em;
	background-size: 100% 100%;
	margin-left: 20%;
	margin-top: 1.8em;
}
.expenses input {
	height:4.5em;
}
.expenses .btn-green{
	height:4.5em;
}
