.underscored {
  text-decoration: underline;
}

/* expense-reports-dialog */
.expense-reports-dialog {
  height: 9em;
  padding: 1em;
}

.expense-reports-dialog input {
  float: right;
  line-height: 10px;
}

.expense-reports-dialog .input-holder {
  height: 2em;
}

.expense-reports-dialog div div {
  color: black;
}

/* when there is img camera */
.cameraFoot {
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: 100% 100%;
}

.center {
  text-align: center;
}

/* view image */
.showImg {
  margin-top: 1%;
}
