.underscored {
  text-decoration: underline;
}

/* expense-reports-dialog */
.expense-reports-dialog {
  height: 9em;
  padding: 1em;
}

.expense-reports-dialog input {
  float: right;
  line-height: 10px;
}

.expense-reports-dialog .input-holder {
  height: 2em;
}

.expense-reports-dialog div div {
  color: black;
}

/* when there is img camera */
.cameraFoot {
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: 100% 100%;
}

.center {
  text-align: center;
}

/* view image */
.showImg {
  margin-top: 1%;
}

/* ANIMATIONS
============================================================================= */
/* DECLARATION FOR USING OLDER BROWSERS */
@keyframes slideOutLeft {
  to {
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideOutLeft {
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideOutLeft {
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(100%);
  }
}

@-moz-keyframes slideInLeft {
  from {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  to {
    transform: translateX(100%);
  }
}

@-moz-keyframes slideOutRight {
  to {
    -moz-transform: translateX(100%);
  }
}

@-webkit-keyframes slideOutRight {
  to {
    -webkit-transform: translateX(100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(-100%);
  }
}

@-moz-keyframes slideInRight {
  from {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translateX(-100%);
  }
}

/* animate forward */
.mainContainer {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.mainContainer.ng-leave {
  z-index: 9999;
}

.mainContainer.ng-enter {
  z-index: 8888;
}

.mainContainer.ng-leave {
  -webkit-animation: slideOutLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  -moz-animation: slideOutLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  animation: slideOutLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
}

.mainContainer.ng-enter {
  -webkit-animation: slideInLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  -moz-animation: slideInLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  animation: slideInLeft 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
}

.backAnimation .mainContainer.ng-leave {
  -webkit-animation: slideOutRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  -moz-animation: slideOutRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  animation: slideOutRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
}

.backAnimation .mainContainer.ng-enter {
  -webkit-animation: slideInRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  -moz-animation: slideInRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
  animation: slideInRight 0.75s both cubic-bezier(0.2, 0.7, 0.1, 1);
}

.header-img {
  content: url("../resources/images/plus.png");
}

.view-image {
  max-width: 100%;
  max-height: 100%;
}

/* items selection */
.loop {
  background-image: url("../resources/images/loop.png");
  display: block;
  width: 36px;
  height: 36px;
  background-size: 100%;
  position: absolute;
  z-index: 1050;
  margin-top: 2%;
  margin-left: 2%;
}

.items-selection-modal {
  height: 270px;
  padding: 1em;
  overflow: hidden;
}

.items-selection-modal span {
  color: black;
}

.items-selection-modal form .form-group {
  border-top: 4px solid gray;
}

.items-selection-modal input {
  padding-left: 50px !important;
  color: black !important;
  margin-top: -1%;
}

.items-selection-modal .icon-close-black {
  float: right;
  display: inline-block;
  margin-top: -1%;
}

.items-selection-modal .row span {
  height: 40px;
  display: inline-block;
}

.items-selection-modal form {
  padding-bottom: 0px;
}

.items-selection-modal .item-container {
  overflow: scroll;
  height: 150px;
}

.items-selection-modal .green-hover:hover {
  background-color: greenyellow;
  color: black;
}

.html {
  overflow: hidden;
}

.staticHeight {
  height: 101%;
  width: 100%;
}
