.home-container {
    height:100%;
    width:100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 300;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    padding-top: 70px;
    overflow: hidden;
    .view-container {
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
    }

    .view {
        white-space: normal;
        display: inline-block;
        height: 100%;
        width: 50%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.home-header {
    position: fixed;
    width: 100%;
    background: white;
    z-index: 1000;
    .profile {
        width: 15%;
        position: relative;
        top: 13px;
        float: left;
        padding-left: 6px;
    }
    .expenses {
        width: 35%;
    }
    .reports {
        width: 35%;
    }
    .edit, .done {
        width: 15%;
        position: relative;
        top: 13px;
        float: right;
        text-align: right;
        padding-right: 8px;
    }
}
