/*------------------------------------*\
    $HOME
\*------------------------------------*/

.home-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 300;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    padding-top: 120px;
    overflow: hidden;
    .view-container {
        height: 100%;
        overflow: hidden;
        white-space: nowrap;
    }
    .view {
        white-space: normal;
        display: inline-block;
        height: 100%;
        width: 50%;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.padding-to-top{
    padding-top: 190px !important;
}