.align-checkbox {
	vertical-align:top;
	font-size: 15px;
}
.edit-report{
	line-height: 30px;
	border-bottom: 1px solid $sky-blue-bg;
	font-size: 90%;
	padding: 4px 15px 3px 15px;
	color: $blue-bg;
	white-space: nowrap;
}

.report-assigned {
    text-transform: lowercase;
}
.report-edit-icon{
	float:right;
	zoom: .5;
	-moz-transform: scale(0.5);
}

.fixed-section{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 170px;
	width: 100%;
	background-color: $white-bg;
	z-index: 1000;
	border-top: 10px solid $white-bg;

	.total-report{
		background-color: $light-blue-bg;
		color: $white-bg;
		line-height: 50px;
		text-align: center;
	}
	.btn{
		width: 80%;
		height: 40px;
		margin: 10px auto;
		display: block;
		@include border-radius(3px);
		font-size: 100%;
	}
	.blue-btn{
		background-color: $blue-bg;
		color: $white-bg;
		border: none;
	}
	.white-btn{
		background-color: $white-bg;
		color: $blue-bg;
		border: 1px solid $lighter-blue-bg;
	}
}
.report-btn-container {
	.btn {
		background-color: $blue-bg;
		color: $white-bg;
	}
}