.reports-body {
	.right-part {
		.icon {
			margin-left: 5px;
			color: $bg-green;
			font-size: 2.8em;
			&.icon-affirmative {
				color: $bg-locked;
				font-size: 2.6em;
			}
		}
	}
	&.create {

	}
}