

/*------------------------------------*\
    $ICON-FONTS
\*------------------------------------*/


@font-face {
  font-family: "HalvaticaNeue";
  src: url('../resources/fonts/HelveticaNeue.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: "HalvaticaNeueBold";
  src: url('../resources/fonts/HelveticaNeue-Bold.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: "HalvaticaNeueLight";
  src: url('../resources/fonts/HelveticaNeue-Light.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: "FrutigerBlack";
  src: url('../resources/fonts/Frutiger-Black.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: "FrutigerLight";
  src: url('../resources/fonts/Frutiger-Light.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
	font-family: 'icon-font';
	src:url('../resources/fonts/icon-fonts/icon-font.woff?-y9gmqh') format('woff'),
		url('../resources/fonts/icon-fonts/icon-font.ttf?-y9gmqh') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icon-font-loading';
  src: url('../resources/fonts/loading-font.woff?epbsei') format('woff'),
        url('../resources/fonts/loading-font.ttf?epbsei') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Font Loading Animation */
.icon-loading {
    font-family: 'icon-font-loading';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 4.5em;
    color: $bg-white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-spinner:before {
    content: "\e97a";
}

.icon-spinner2:before {
    content: "\e97b";
}

.icon-spinner3:before {
    content: "\e97c";
}

.icon-spinner4:before {
    content: "\e97d";
}

.icon-spinner5:before {
    content: "\e97e";
}

.icon-spinner6:before {
    content: "\e97f";
}

.icon-spinner7:before {
    content: "\e980";
}

.icon-spinner8:before {
    content: "\e981";
}

.icon-spinner9:before {
    content: "\e982";
}

.icon-spinner10:before {
    content: "\e983";
}

.icon-spinner11:before {
    content: "\e984";
}

.loading-spin {
  -webkit-animation: loading-spin 1.7s infinite linear;
  animation: loading-spin 1.7s infinite linear;
}

@-webkit-keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes loading-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Icomoon: https://icomoon.io */
.icon {
	font-family: 'icon-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-signout:before {
	content: "\e609";
}
.icon-affirmative:before {
	content: "\e604";
}
.icon-camera:before {
	content: "\e606";
}
.icon-alert:before {
	content: "\e607";
}
.icon-check:before {
	content: "\e608";
}
.icon-close:before {
	content: "\e60a";
}
.icon-sign-out:before {
	content: "\e60b";
}
.icon-edit:before {
	content: "\e60c";
}
.icon-profile:before {
	content: "\e603";
}
.icon-search:before {
	content: "\e5fd";
}
.icon-delete:before {
	content: "\e60e";
  color: $bg-red;
}
.icon-plus:before {
	content: "\e60d";
}
.icon-cross:before {
	content: "\e605";
}
.icon-arrow-down:after {
	content: "\e610";
  position: absolute;
  top: 0;
  line-height: 40px;
  right: 20px;
}
.icon-back-arrow:before {
	content: "\e60f";
}
.icon-checkbox-unchecked:before{
    content: "\f096";
    letter-spacing: 10px;
    color: $blue-bg;
}
.icon-checkbox-checked:before{
    content: "\f046";
    color: $blue-bg;
    letter-spacing: 5px;
}