.new-icons {
  background-image: url('../resources/images/icons.png');
  background-repeat: no-repeat;
  display: inline-block;
}

.signout-icon {
  height: 70px;
  width: 70px;
  background-position: 0px 0px;
}

.plus-icon {
  height: 70px;
  width: 70px;
  background-position: -91px 0px;
}

.cross-icon {
  height: 70px;
  width: 70px;
  background-position: -196px 0px;
}

.check-icon {
  height: 80px;
  width: 80px;
  background-position: -5px -93px;
}

.right-icon {
  height: 60px;
  width: 60px;
  background-position: -104px -103px;
}

.back-icon {
  height: 70px;
  width: 70px;
  background-position: -178px -99px;
}
.edit-icon {
  height: 60px;
  width: 60px;
  background-position: -1px -187px;
}
.trash-icon {
  height: 60px;
  width: 60px;
  background-position: -96px -186px;
}
.trash-icon-red {
  height: 50px;
  width: 50px;
  background-position: -200px -191px;
}
.camera-icon-blue {
  height: 60px;
  width: 60px;
  background-position: -6px -275px;
}
.check-icon-blue {
  height: 50px;
  width: 50px;
  background-position: -111px -280px;
}
.edit-icon-blue {
  height: 50px;
  width: 50px;
  background-position: -198px -279px;
}
.camera-icon-blue-big {
  height: 140px;
  width: 140px;
  background-position: -2px -357px;
}