<!--<div ng-show="!showGallery">-->
    <!--<button ng-click="toggleImageGallery()">Browse</button>-->
    <!--<button ng-click="takePhoto()">Take Photo</button>-->
    <!--<button ng-click="cancel()">Cancel</button>-->
<!--</div>-->

<div class="addImage" style="overflow: hidden">
    <div class="upDiv">
        Grid : Off
    </div>
    <div class="footDiv">
        <div class="third grayC" ng-click="toggleImageGallery()"><div class="picture"></div></div>
        <div class="third" ng-click="takePhoto()"><div class="cameraFoot cam"></div></div>
        <div class="third grayC" ng-click="cancel()">Cancel</div>
    </div>

    <div class="xLineHolder" style="padding: 0; margin: 0">
        <div class="xLineL"></div>
        <div class="xLineR"></div>
    </div>
</div>