<div class="login" id="login-page">
    <div class="top-part clearfix">
        <div class="logo">
            <h1>glow</h1>
            <h2>EXPENSES REPORT</h2>
        </div>
    </div>
    <div class="bottom-part clearfix">

        <button class="btn" type="submit" ng-click="login()">SIGN IN</button>

        <div class="logo">
            <a href="#">
                <img src="resources/images/bot-logo.png" alt="">
            </a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var loginPage = document.getElementById('login-page');
    var docHeight = window.screen.height;
    loginPage.style.height = docHeight + "px";
</script>
