.ghost-container {
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: transparent;
    position: absolute;
    top: 0;
    left: 0;
}
.swipe-animate {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s;
}
.overflow-disable {
    .view {
        overflow: hidden;
    }
}