<div class="expenses" ng-show="isMain">
    <div>
        <div class="headerMain font15">
        	<div class="icon left third alignLeft">
        		<div> 
        			<span ng-click="openProfile()"> Profile </span> 
        		</div>
            	<div> 
            		<a ng-class="{ active: isActive('/expenses')}" href="#/expenses"> Amex Expenses </a> 
            	</div>
            </div>
            <div class="icon third alignRight"> 
            	<a ng-class="{ active: isActive('/reports')}" href="#/reports"> Reports </a> 
            </div>
            <div class="right third" ng-click="openEditMode()" ng-hide="editMode"> Edit Icon </div>
            <div class="right third" ng-click="openEditMode()" ng-show="editMode" data-edit="true"> Done </div>
        </div>
    </div>
</div>
<!-- sign out modal -->
<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Im a modal!</h3>
    </div>
    <div class="modal-body">
        <ul>
            <li ng-repeat="item in items">
                <a ng-click="selected.item = item">{{ item }}</a>
            </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">OK</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>