<header>
    <nav>
        <ul>
            <li class="btn-helper profile">
                <a class="icon icon-signout" href="" ng-click="signOut()"></a>
            </li>
            <li class="btn-main expenses">
                <a ng-class="{ active: isActive('/expenses')}" ng-click="viewExpenses()"><span>Expenses</span> </a>
            </li>
            <li class="btn-main reports">
                <a ng-class="{ active: isActive('/reports')}" ng-click="viewReports()"> <span>Reports</span> </a>
            </li>
            <li class="btn-helper edit">
                <a class="icon icon-edit" ng-click="openEditMode()" ng-hide="isEditMode" href=""></a>
            </li>
            <li class="btn-helper done"><a ng-click="openEditMode()" ng-show="isEditMode" data-edit="true" href="">Done</a></li>
            <div class="line"></div>
        </ul>
    </nav>
</header>
