<div class="nav font15">
    <div class="content-list" infinite-scroll="getMoreExpenses()" ng-class="{'margin-last': editMode}">
        <div class="ready expense-list" ng-repeat="expense in ::expenses track by $index">
            <section class="expense">
                <div class="edit-action">
                    <div class="content-check">
                         <span ng-click="itemChecked($index)" class="icon" ng-class="{'icon-checkbox-checked': checked($index), 'icon-checkbox-unchecked': !checked($index) }"></span>
                         <!--<input id="box{{$index}}" type="checkbox" ng-model="value" ng-change="itemChecked(value, $index)"/><label for="box{{$index}}"></label>-->
                    </div>
                </div>
                <div class="expense-info" ng-click="editExpense(expense)">
                    <div class="content-expense-info">
                        <div class="content-description">
                            <h3>{{:: expense.description }}</h3>
                        </div>
                        <div class="content-data">
                            <div class="date">
                                <span>{{:: expense.dateFilter }}</span>
                            </div>
                            <div class="money hide-text-overflow">
                                <span class="amount">{{::expense.currencyCode}} {{:: expense.originalAmountFormatted}}</span>
                            </div>
                        </div>
                        <div class="content-details">
                            <div class="amount hide-text-overflow">
                                <span>Total {{::expense.currencySocCode}} {{:: expense.originalAmount * expense.exchangeRate| currency }}</span>
                            </div>
                            <div class="exchange">
                                <span>ER: {{:: expense.exchangeRate | number:2}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="image-action">
                        <a ng-hide="::expense.imageType !== 'void'" ng-click="takePhoto(expense, $event)" class="icon icon-camera"></a>
                        <a ng-show="::expense.imageType !== 'void'" class="icon icon-affirmative"></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
