<div class="nav font15">
    <div class="content-list" infinite-scroll="getMoreExpenses()">
        <div class="ready expense-list"
             ng-repeat="expense in ::expenses track by $index">
            <section class="expense" ng-click="editExpense(expense)">
                <div class="delete-action">
                    <span class="icon icon-delete float-left"
                          ng-click="deleteExpense(expense, $event)"></span>
                </div>
                <div class="expense-info">
                    <div class="left-part">
                        <h3>{{:: expense.description }}</h3>
                        <span class="date">{{:: expense.date | date:'dd MMMM yyyy' }}</span>
                    </div>
                    <div class="right-part">
                        <div class="money">
                            <span>{{:: expense.currency.code }}</span>
                            <span>{{:: expense.originalAmount | currency }}</span>
                        </div>
                        <a ng-hide="::expense.imagePath" ng-click="takePhoto(expense, $event)" class="icon icon-camera"></a>
                        <a ng-show="::expense.imagePath" class="icon icon-affirmative"></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
