/* login form */
.login {
  position:absolute;
  height:100%;
  width:100%;
  display:block;
  float:left;
  @include clearfix();
  * {
    font-size: $size-global;
  }
  img {
    @include img-responsive();
  }
  ::-webkit-input-placeholder {
    color: $text-white;
    line-height: 0.6;
    font-weight: normal;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $text-white;
    line-height: 0.6;
    font-weight: normal;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
    color: $text-white;
    line-height: 0.6;
    font-weight: normal;  
  }

  :-ms-input-placeholder {  
    color: $text-white;
    line-height: 0.6;
    font-weight: normal;  
  }
  .top-part {
    background: $bg-green;
    height: 50%;
    width: 100%;
    display: block;
    border-bottom:10px solid $bg-grey-dark;
    position:relative;
    .logo {
      margin:0 auto;
      display: block;
      position:absolute;
      bottom:25px;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      h1 {
        font-family: 'FrutigerBlack';
        color: $text-logo-top;
        font-size: 3em;
      }
      h2 {
        font-family: 'FrutigerLight';
        color: $text-white;
        font-size: 1.1em;
      }
    }
  }
  .bottom-part {
    @include clearfix();
    background: $bg-grey;
    height: 50%;
    width: 100%;
    display: block;
    position:relative;
    .logo {
      position:absolute;
      bottom:20px;
      width: 100%;
      a {
        display: block;
        max-height: 20px;
        max-width: 160px;
        margin: 0 auto;
        img {
          @include img-responsive();
          @include centered();
        }
      }
    }
    .errorMsg  {
      margin: 10px 0;
      position: absolute;
    }
  }
  form {
    width: 90%;
    display: table;
    margin: 20px auto;
    .form-group {
      border:none;
      @include border-radius(0px);
      &:first-child {
        border-bottom:1px solid $border-login;
      }
    }
    button {
      margin-top: 20px;
    }
  }
  input {
    background: none;
    border:none;
    width: 100%;
    padding: 0 20px;
    height: 50px;
    line-height: 1;
    color:$text-white;
    outline:none;
  }
}