.expenses-body {
	.expense-cont {
		@include clearfix();
		.right-part {
			.icon {
				margin-left: 5px;
			}
		}
	}
	&.with-padding {
		padding:20px;
		.camera {
			margin-bottom: 20px;
			p {
				text-align: center;
				color:$text-grey-lighter;
			}
		}
	}
}