.expenses-body {
	.expense-cont {
		@include clearfix();
		.right-part {
			.icon {
				margin-left: 5px;
				color: $bg-green;
				font-size: 2.8em;
				&.icon-affirmative {
					color: $bg-locked;
					font-size: 2.6em;
				}
			}

		}
	}
	&.with-padding {
		padding:20px;
		.camera {
			margin-bottom: 20px;
			p {
				text-align: center;
				color:$text-grey-lighter;
			}
			.icon {
				font-size: 6em;
				color: $bg-green;
				@include centered();
			}
		}
	}

	.label {
		margin-bottom: 10px;
		&.form-group {
			.form-item {
				&.head {
					font-size: $size-extra-small;
		  			height: 20px;
		  			line-height: 20px;
		  			padding: 0 12px;
				}
			}
		}

		span.form-control {
			display: block;
			line-height: 3em;
		}
	}
}