/* expenses */
.expenses .headerMain {
  margin-top: -10px;
  padding-left: 0;
  padding-right: 0;
  margin-left: -30px;
  height: 1.6em;
  padding-top: 0.2em;
  font-weight: 900;
  border-bottom: 1px solid rgba(120,120,120,0.3);
  font-size: 20px;
  color:rgba(120,120,120,0.3);;
}
.expenses .headerMain .active {
  color:#94BC00;
  border-bottom: 5px solid #94BC00;
}
.right{
  float:right;
}
.third{
  display: inline-block;
  width:30%;
}
.seventy{
  display: inline-block;
  width:70%;
}
.left{
  float:left;
}
.expenses .icon.right{
  padding: 0.25em;
  padding-right: 0.5em;
  padding-left: 0.5em;
  margin-top: -0.1em;
  color:white;
  height:1.2em;
  width: 1em;
  background-image: url('../resources/images/plus-gr.png');
  background-size: 100% 100%;
}

.expenses .nav{
  background-color: rgb(204,204,204);
  padding-left: 0;
  margin-left: -30px;
  height: 1.6em;
  color:white;
  padding-top: 1%;
  padding-bottom: 1%;
}

.expenseItem .itemName {
  display: inline-block;
}
.expenseItem .itemName div{
  display: block;
}
.expenseItem .itemName .icon{
  width:15%;
}
.inBl{
  display: inline-block!important;
}
.half{
  width: 50%;
}
.alignLeft{
  text-align: left;
}
.alignRight{
  text-align: right;
}
.expenseItem.ready{
  background-color:white;
}
.expenseItem.picture{
  background-color:rgb(243,243,243);
}
.expenseItem{
  border-bottom: 1px solid rgb(102,102,102);
  margin-bottom: 1px;
}
.itemName.right{
  margin-top:1em;
}
.expensesImage{
  height: 10em;
  width: 10em;
  margin-left: -1em;
  margin-top: 5em; 
  background-image: url('../resources/images/emptyPage.png');
  background-size: 80% 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
}
.imageLabel{
  font-weight: 400;
  color:rgb(157,157,157);
}
.imageHolder{
  margin-left: 7em;
}

.expenses .nav .alignRight.half div{
  height: 1.3em;
  width: 1em;
  background-image: url('../resources/images/bin.png');
  background-size: 100% 100%;
  float:right;
  position: absolute;
}
.expenses .nav .alignRight div{
  background-image: url('../resources/images/loop.png');
  height: 1.2em;
  width: 1.2em;
  background-size: 100% 100%;
  float: left;
  position: absolute;
}
.expenses .nav .arrow div{
  height: 2.3em;
  width: 2em;
  background-image: url('../resources/images/arrows.png');
  background-size: 100% 100%;
  float:right;
  position: absolute;
}
.third.alignRight{
  width: 32%;
}

.sortingControlls{
  height: 5em;
  border: 1px solid gray;
  border-radius: 0.5em;
  padding: 1em;
  position: fixed;
  background-color: white;
}
.row{
  height: 2em;
  color:rgb(102,102,102);
}
.top1{
  margin-top: 1em;
}
.downArrow{
  height: 2.3em;
  width: 2em;
  background-image: url('../resources/images/downArrow.png');
  background-size: 100% 100%;
  float:right;
  margin-left: 2em;
  position: absolute;
}
.upArrow{
  height: 2.3em;
  width: 2em;
  background-image: url('../resources/images/up.png');
  background-size: 100% 100%;
  float:right;
  margin-left: 2em;
  margin-top: -0.8em;
  position: absolute;
}
.checkSign{
  height: 1.3em;
  width: 1em;
  background-size: 100% 100%;
  position: absolute;
}
.search{
  margin-top: 1.5em;
  float:left;
  margin-left: 2em;
}
.searchBox{
  height: 5em;
  margin-top: -2em;
  margin-left: -1em;
  background-color: rgb(176,178,183);
}
.closeSearch{
   width:10%;
   display: inline-block;
   margin-top: 1.5em;
   font-size: 20px;
}

.Infinity{
  height: 600px;
  overflow: visible;
}

.icon.photo,.icon.thick{
  height: 1em;
  width: 1.5em!important;
  background-size: 100% 100%;
  float: right!important;
  margin-top: 1em;
  margin-right: 0.7em;
}
.icon.thick{
  background-image: url("../resources/images/checkGray.png");
}
.cameraFoot{
  background-image: url("../resources/images/camera.png");
}
.greenThick{
  background-image: url("../resources/images/check.png")!important;
}

.cameraBorder{
  border: 1px solid #67ba39;
  border-radius: 70px;
  height: 3em;
  width: 3em;;
  margin-top: -2em;
  margin-right: -0.3em;
  background-color: white;
}
.thickBorder{
  border: 1px solid rgb(176,176,176);
  border-radius: 70px;
  height: 3em;
  width: 3em;
  margin-top: -2em;
  margin-right: -0.3em;
}

.half .money{
  margin-left: -2em;
}

.backGreen{
  background-color: green;
}
.alRight{
  text-align: right;
}
.expenses .expenseItem{
  height: auto;
  width: 100.5%;
  float: left;
  margin-left: -0.2%;
}
.expenses .showDetails{
  display: block;
  width: 97%;
  float: left;
  margin-left: 1%;
}
.dotBorders{
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  padding: 0.1%;
}
.margins{
  margin:1%;
}
.small{
  width:15%;
  display:inline-block;
}
.margins.alignRight.right{
  width:100%;
  min-height: 50px;
}
.dotBorders .half{
  margin-bottom:1%;
}
.small .edit{
  background-image: url('../resources/images/edit.png');
  height: 1.2em;
  width: 1.2em;
  background-size: 100% 100%;
  float: left;
  position: absolute;
}
.small .bin{
  height: 1.3em;
  width: 1em;
  background-image: url('../resources/images/binB.png');
  background-size: 100% 100%;
  float:right;
  position: absolute;
}
.expenseItem .half{
  margin-top:1em;
  margin-bottom:1em;
}
.showImg>img{
  width:90%;
}
.grayOut{
  background-color:rgba(120,120,120,0.1)!important;
}
.icon.left.third.alignRight{
  min-width:200px!important;
}