<div class="expenses">
    <div class="header font15">
        <div class="left fift" ng-click="goBack()"></div>
        <span class="expensesHeader"> Add Expenses</span>
    </div>
    <div class="camera ">
        <div class="icon cameraFoot" ng-click="takePhoto()">

        </div>
    </div>
    <form role="form" name="expenseForm">
        <div class="form-group">
            <input type="text" id="title" placeholder="Title"  class="form-control" ng-model="expense.title" autofocus required>
        </div>
         <div class="form-group">
            <input type="text" id="description" placeholder="Description"  class="form-control" ng-model="expense.description" required>
            <div class="descr pullDown"></div> 
        </div>
         <div class="form-group">
            <input type="text" id="date" placeholder="{{todayDate()}}"  class="form-control" ng-model="expense.date" required disabled> 
            <div class="date pullDown"></div> 
        </div>
        <div class="form-group">
            <input type="number" min="0.01" step="0.01" id="amount" placeholder="Amount"  class="form-control" ng-model="expense.amount" required>
        </div>
         <div class="form-group">
            <input type="text" id="currency" placeholder="Original Currency"  class="form-control" ng-model="expense.currency" required>
            <div class="curr pullDown"></div> 
        </div>
         <div class="form-group">
            <input type="number" min="0.01" step="0.01" id="rate" placeholder="Rate"  class="form-control" ng-model="expense.rate" required>
        </div>
        <button class="btn btn-default btn-green" ng-class="{ disabled: expenseForm.$invalid }" type="submit" ng-click="add(expense)" ng-disabled="expenseForm.$invalid">Add</button>
        <loading></loading>
        <div ng-show="showErrorMessage">
            <div class="msg errorMsg">{{errorMessage}}</div>
        </div>
    </form>
</div>