@import "base/_reset";
@import "base/_icon-fonts";
@import "base/_icons-2.0";


/*------------------------------------*\
    $GLOBAL-STYLES
\*------------------------------------*/

.underlined{
  text-decoration:underline;
}
.no-padding {
  padding: 0!important;
}
.bold {
  font-weight: bold;
}
.float-left {
  float: left;
}
.float-right {
  float:right;
}
.bottom20 {
  margin-bottom: 20px;
}

// BUTTONS

.btn {
  @include btn();
  @include border-radius(5px);
  &:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
  }
}

.btn-with-icon {
  height: 36px;
  @include btn-with-icon();
  img {
    float: left;
    max-width: 36px;
  }
  span {
    float: left;
    line-height: 36px;
    padding-left: 5px;
  }
}
.btn-with-icon.create-report {
  span {
    color: $text-green;
    font-weight: bold;
  }
  .icon {
    padding-left: 0px;
    padding-right: 5px;
    font-size: 2em;
  }
}

.text-centered{
  text-align: center
}
.text-right {
  text-align: right;
}
.text-left {
  text-align:left;
}
a {
  text-decoration: none;
}

.circle {
  width: 36px;
  height: 36px;
  display: block;
  @include border-radius(18px);
  border:2px solid $text-black;
  img {
    @include img-responsive();
  }
  &.green {
    border-color:$bg-green;
    background: $bg-green;
  }
}

// MITKO STYLES

.html {
  overflow: hidden;
}

.staticHeight {
  height: 101%;
  width:100%;
}

.Infinity {
  min-height:1000px;
}

.reports-body .content-list {
  float: left;
  width: 100%;
  margin-bottom: 170px;
}

.reports-body .send-report .btn-fixed{
    z-index: 200;
}

.center {
  text-align: center;
}

/* view image */
.showImg {
  margin-top: 1%;
}

.error-message{
  border: 1px solid $text-red;
  color:$text-red;
  background-color: lighten($text-red, 60%);
  .message {
    span {
    padding-bottom: 10px;
    display: block;
    }
  }
}

.lig-background{
  background-color: black;
  opacity: .70;
  width: 101%;
  position: absolute;
}

.transparent-background .modal-content{
  background-color: black;
  opacity: .70;
  margin-top: -30%;
}

.underscored{
  text-decoration:underline;
}
/* when there is img camera */
.cameraFoot{
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: 100% 100%;
}

// MODALS

#photo-control {
  background-color: $bg-green;
  border-radius: 6px;
  .btn {
    float: none;
    width: 100%;
    color: $text-white;

    &:first-child {
      border-bottom: 2px solid $border-modal;
      border-width: 0.09em 0;
    }
  }
}

/*
-----------------------------------------------------------------------------------------------
Responsive: Portrait tablets and up
-----------------------------------------------------------------------------------------------
*/

.swiper-container {
  width: 100%;
  height: 100%;
}

* {
  //android - remove orange highlight on focus
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;  // i.e. Nexus5/Chrome and Kindle Fire HD 7''
}