/* login form */

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Make the masthead heading the same height as the navigation */
h1,h2,h3,h4,h5{
  margin:0;
}
h1.text-muted{
  color:rgb(153,153,153);
  font-weight: 900;
  font-size: 3em;
}
h2.text-muted{
  color:rgb(102,102,102);
  font-weight: 700;
  font-size: 2em;
}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

.container {
    text-align: center;
    width:90%;
    margin: auto;
}
.container-narrow > hr {
  margin: 30px 0;
}

/* input and form */

input{
  background-color: rgb(255, 255, 255);
  background-image: none;
  border-bottom-color: rgb(178, 178, 178);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(178, 178, 178);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(178, 178, 178);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(178, 178, 178);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0 1px 1px 0 inset;
  color: rgb(85, 85, 85);
  cursor: auto;
  display: block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 0.5em;
  padding-left: 1em;
  text-indent: 0;
  text-shadow: none;
  text-transform: none;
  transition-delay: 0s, 0s;
  transition-duration: 0.15s, 0.15s;
  transition-property: border-color, box-shadow;
  transition-timing-function: ease-in-out, ease-in-out;
  word-spacing: 0;
  width:90%;
  height:2.5em;
  margin:auto;
  margin-top: 1.2em;
  border-radius: 8px;
  font-size:24px;
}

.btn.btn-default{
  width:92%;
  height:2.5em;
  margin-top: 1em;
  background: rgb(102,102,102);
  color:white;
  border-radius: 13px;
  font-size: 24px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.errorMsg{
  background-color: rgb(242, 222, 222);
  color: rgb(169, 68, 66);
}
.successMsg{
  background-color: rgb(223, 240, 216);
  color: rgb(60, 118, 61);
}
.loadMsg{
  background-color: rgb(217, 237, 247);
  color: rgb(49, 112, 143);
}
.warningMsg{
  background-color: rgb(252, 248, 227);
  color: rgb(138, 109, 59);
}
.msg{
  border-bottom-color: rgb(188, 232, 241);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(188, 232, 241);
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: rgb(188, 232, 241);
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: rgb(188, 232, 241);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  display: block;
  line-height: 20px;
  padding: 15px;
  border-radius: 13px;
  font-size:24px;
  width:90%;
  margin:auto;
}
.loader{
  width:20;
  height:20;
}

.disabled{
  opacity:0.6
}

/*
-----------------------------------------------------------------------------------------------
Responsive: Portrait tablets and up
-----------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
