@import "base/_reset";
@import "base/_icon-fonts";


/*------------------------------------*\
    $GLOBAL-STYLES
\*------------------------------------*/

.underlined{
  text-decoration:underline;
}
.no-padding {
  padding: 0!important;
}
.bold {
  font-weight: bold;
}
.float-left {
  float: left;
}
.float-right {
  float:right;
}
.bottom20 {
  margin-bottom: 20px;
}

// BUTTONS

.btn {
  @include btn();
  @include border-radius(5px);
}
.btn-with-icon {
  height: 36px;
  @include btn-with-icon();
  img {
    float: left;
    max-width: 36px;
  }
  span {
    float: left;
    line-height: 36px;
    padding-left: 5px;
  }
}
.btn-with-icon.create-report {
  span {
    color: $text-green;
    font-weight: bold;
  }
  .icon {
    padding-left: 0px;
    padding-right: 5px;
    font-size: 2em;
  }
}

.text-centered{
  text-align: center
}
.text-right {
  text-align: right;
}
.text-left {
  text-align:left;
}
a {
  text-decoration: none;
}

.circle {
  width: 36px;
  height: 36px;
  display: block;
  @include border-radius(18px);
  border:2px solid $text-black;
  img {
    @include img-responsive();
  }
  &.green {
    border-color:$bg-green;
    background: $bg-green;
  }
}

// MITKO STYLES

.html {
  overflow: hidden;
}

.staticHeight {
  height: 101%;
  width:100%;
}

.Infinity {
  min-height:1000px;
}

.content-list {
  margin-bottom: 135px;
}

.center {
  text-align: center;
}

/* view image */
.showImg {
  margin-top: 1%;
}

.error-message{
  border: 1px solid $text-red;
  color:$text-red;
  background-color: lighten($text-red, 60%);
  .message {
    span {
    padding-bottom: 10px;
    display: block;
    }
  }
}

.lig-background{
  background-color: black;
  opacity: .70;
  width: 101%;
  position: absolute;
}

.transparent-background .modal-content{
  background-color: black;
  opacity: .70;
  margin-top: -30%;
}

.underscored{
  text-decoration:underline;
}
/* when there is img camera */
.cameraFoot{
  height: 100px;
  width: 100px;
  margin: auto;
  background-size: 100% 100%;
}

// MODALS

#photo-control {

  .btn {
    float: none;
    width: 100%;

    &:first-child {
      border-right: none;
      border-bottom: 1px solid $border-grey-dark;
    }
  }
}

/*
-----------------------------------------------------------------------------------------------
Responsive: Portrait tablets and up
-----------------------------------------------------------------------------------------------
*/
