@mixin clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}
// BUTTONS
@mixin btn () {
	background:$bg-green;
	color:$text-white;
	font-size:$size-global;
	line-height:1;
	height:50px;
	width:100%;
	display:block;
	border:none;

	&:disabled {
		opacity: 0.6;
	}
}

@mixin btn-with-icon () {
	font-size: $size-text;
	line-height:1;
	width:100%;
	display:block;
	border:none;
}


@mixin border-radius($radius) {
	border-radius: $radius;
}
@mixin img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}
@mixin centered() {
	display: table;
	margin: 0 auto;
}

@mixin gradient-horizontal ($firstColor: #FFF, $secondColor: #DDD) {
	background	: linear-gradient(to right, $firstColor 0%, $secondColor 100%); /* W3C */
	background	: -webkit-linear-gradient(left,  $firstColor 0%,$secondColor 100%); /* Chrome 10+, Safari 5.1+ */
	background	: -webkit-gradient(linear, left top, right top, color-stop(0%,$firstColor), color-stop(100%,$secondColor)); /* Chrome, Safari 4+ */
}

@mixin transform($transform) {
    -webkit-transform: $transform;
    transform: $transform;
}
