// STYLES FOR GLOBAL ELEMENTS
// HEADER
header {
	border-top: 10px solid $bg-green;
	@include clearfix();
	nav {
		ul {
			width: 100%;
			display: block;
			float: left;
			position: relative;
			@include clearfix();
			li {
				float: left;
				display: block;
				&.btn-main {
					z-index: 5;
					width: 50%;
					text-align: left;
					position: relative;
					&.expenses {
						text-align: right;
						padding-right: 10px;
						a {
							span {
								float: right;
							}
						}
					}
					&.reports {
						padding-left: 10px;
						a {
							span {
								float: left;
							}
						}
					}
					a {
						color:$text-grey-dim;
						font-weight: bold;
						line-height: 22px;
						display: block;
						height: 100%;
						width: 100%;
						font-size: $size-global;
						padding-top: 20px;
						min-height: 60px;
						&.active {
							color:$text-grey-dark;
							span {
								border-bottom: 6px solid $bg-green;
								padding-bottom: 10px;
								display: table;
							}
						}
					}
				}
				&.btn-helper {
					position:absolute;
					z-index: 10;
					top:10px;
					&.profile {
						left:11px;
						a {
							color: $bg-black;
							font-size: 2.2em;
						}
					}
					&.edit {
						right: 24px;
						a {
							position: relative;
							color: $bg-black;
							font-size: 2em;
						}
					}
					&.done {
						right:25px;
						bottom:0.5em;
						a {
							color:$text-grey-dark;
							font-size: $size-small;
							line-height: 3;
						}
					}
				}
			}
			// single link header
			&.single {
				.btn-main {
					width: 100%;
					text-align: center;
					span {
						display: table;
						margin: 0 auto;
						max-width: 70%;
					}
				}
			}
		}
	}
	// header line
	.line {
		height: 2px;
		position:absolute;
		width: 100%;
		bottom: 0;
		background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(153,191,0,1) 20%, rgba(153,191,0,1) 40%, rgba(153,191,0,0.45) 60%, rgba(255,255,255,0.01) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(153,191,0,1)), color-stop(40%,rgba(153,191,0,1)), color-stop(60%,rgba(153,191,0,0.45)), color-stop(100%,rgba(255,255,255,0.01))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(153,191,0,1) 20%,rgba(153,191,0,1) 40%,rgba(153,191,0,0.45) 60%,rgba(255,255,255,0.01) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(153,191,0,1) 20%,rgba(153,191,0,1) 40%,rgba(153,191,0,0.45) 60%,rgba(255,255,255,0.01) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(153,191,0,1) 20%,rgba(153,191,0,1) 40%,rgba(153,191,0,0.45) 60%,rgba(255,255,255,0.01) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(153,191,0,1) 20%,rgba(153,191,0,1) 40%,rgba(153,191,0,0.45) 60%,rgba(255,255,255,0.01) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#03ffffff',GradientType=1 ); /* IE6-9 */
	}
}

// header line reports
.reports-head {
	.line {
		transform:rotate(180deg);
	}
}
ul.single {
	.line {
		background: -moz-linear-gradient(left, rgba(153,191,0,0) 0%, rgba(153,191,0,1) 40%, rgba(153,191,0,1) 60%, rgba(153,191,0,0) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(153,191,0,0)), color-stop(40%,rgba(153,191,0,1)), color-stop(60%,rgba(153,191,0,1)), color-stop(100%,rgba(153,191,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left, rgba(153,191,0,0) 0%,rgba(153,191,0,1) 40%,rgba(153,191,0,1) 60%,rgba(153,191,0,0) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left, rgba(153,191,0,0) 0%,rgba(153,191,0,1) 40%,rgba(153,191,0,1) 60%,rgba(153,191,0,0) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left, rgba(153,191,0,0) 0%,rgba(153,191,0,1) 40%,rgba(153,191,0,1) 60%,rgba(153,191,0,0) 100%); /* IE10+ */
		background: linear-gradient(to right, rgba(153,191,0,0) 0%,rgba(153,191,0,1) 40%,rgba(153,191,0,1) 60%,rgba(153,191,0,0) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0099bf00', endColorstr='#0099bf00',GradientType=1 ); /* IE6-9 */
	}
	.btn-helper {
		top: 15px;
		&.close {
			left: 18px;
			a {
				font-size: 2.2em;
				color: $bg-black;
			}
		}
	}
}
// expense&reports item
.expense-image{
	background-image: none!important;
	img{
		height:100px;
	}
}
.view-image{
	max-width: 100%;
	max-height: 100%;
}
.item {
	@include clearfix();
	border-bottom: 1px solid $border-grey-dark;
	padding: 20px;
	.left-part {
		width: 60%;
		float: left;
		padding-right: 10px;
		.remove {
			width: 0;
			float: left;
		}
		.desc {
			width:100%;
			float: left;
		}
	}
	.right-part {
		width: 40%;
		float: right;
		.icon-photo {
			float: right;
		}
	}
	.main-text {
		font-family: "HalvaticaNeueBold";
		font-size: $size-global;
		color:$text-grey;
	}
	.info-text {
		font-size: $size-small;
		color: $text-grey-lighter;
		&.red {
			color: $text-red;
		}
		&.yellow {
			color:$text-yellow;
		}
		&.green {
			color:$text-green;
		}
		&.green-dark {
			color:$text-green-dark;
		}
	}
	.showDetails {
		@include clearfix();
		margin-top: 10px;
		p {
			float: left;
			width: 100%;
		}
	}
	&.editMode {
		.remove {
			width: 8%;
			min-width: 50px;
			.icon {
				font-size: 2.4em;
				color: $bg-red;
			}
		}
		.desc {
			width:70%;
			.main-text {
				@include clearfix();
			}
		}
	}
	&.locked {
		background: $bg-locked;
	}
}


// MODAL DIALOG
.modal-dialog {
	color:$text-grey-dim;
	margin-top:30%;
	* {
		font-size: $size-global;
	}
	.modal-header {
		.name {
			font-size: $size-small;
			color: $text-grey;
			padding-left: 10px;
		}
		&.darker {
			border-color:$text-grey;
		}
	}
	.modal-body {
		.message {
			padding:0 20px 10px 20px;
			.icon {
				margin: 10px auto 20px auto;
				font-size: 1.4em;
				color: $bg-green;
				&.icon-affirmative {
					font-size: 1.8em;
					color: $bg-locked;
					display: block;
					width: 36px;
				}
			}
			p {
				text-align: center;
				width: 100%;
			}
		}
		&.no-padding {
			@include clearfix();
			.message {
				padding:10px 30px 20px 30px;
			}
			.btn-full {
				width: 100%;
				border-top: 1px solid $border-modal;
				display: block;
				text-align: center;
				line-height: 50px;
			}
		}
	}
	.modal-footer {
		@include clearfix();
		padding: 0;
		margin: 0;
	}
	.btn {
		width: 50%;
		background: none;
		color:$text-grey-dim;
		float: left;
		padding: 0;
		margin: 0;
		&:first-child {
			border-right: 1px solid $text-grey-dim;
			@include border-radius(0px);
		}
		&:last-child {
			margin: 0;
		}
		&.sign-out {
			border: none;
			width: 100%;
			color: #333;
			padding: 20px;
			float: left;
			display: block;
			width: 100%;
			height: 74px;
			.icon {
				font-size: 2em;
				line-height: 40px;
				color: $bg-black;
				padding-left: 0;
				margin-left: -5px;
			}
		}
	}
	.modal-select {
		padding: 0;
		.item {
			color:$text-select;
			position:relative;
			cursor: pointer;
			&.checked {
				padding-right: 50px;
				.icon {
					position: absolute;
					right: 10px;
					top: 50%;
					margin-top: -10px;
					color: $bg-green;
				}
			}
		}
	}
	.expense-reports-dialog {
		.form-group {
			margin-top: 20px;
		}
	}

	/* items selection */

	.items-selection-modal {
		.loop {
			display: block;
			width: 36px;
			height: 36px;
			background-size: 100%;
			position: absolute;
			z-index: 1050;
			margin-top: 10px;
			margin-left: 15px;
			font-size: 1.8em;
			color: $bg-black;
		}
		height: 350px;
		overflow: hidden;
		span{
			color:black;
		}
		form {
			padding-bottom: 0px;
			.form-group {
				@include border-radius(0);

				input{
					padding-left: 50px!important;
					color:black!important;
					margin: 2%;
					width: 90%;
					margin: 0 auto;
				}
			}
		}

		.icon-close {
			position: absolute;
			top: 10px;
			right: 12px;
			color: $bg-black;
		}
		.row {
			padding:20px;
			span {
				line-height:25px;
				display: inline-block;
			}
		}
		.item-container {
			border-color:$border-login;
			max-height: 203px;
			overflow: auto;
		}
		.green-hover:hover{
			background-color:$bg-green;
			color:#fff;
		}
	}
}

.btn-fixed {
	height: 90px;
	position: fixed;
	bottom:0;
	left:0;
	padding: 20px;
	width: 100%;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 35%, rgba(255,255,255,1) 70%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(35%,rgba(255,255,255,1)), color-stop(70%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 35%,rgba(255,255,255,1) 70%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	&.grey{
		height: 135px;
		background:#e4e4e4;
		border-top: 10px solid #c4c4c4;
		.left-part {
			float: left;
			width: 45%;
			color:$text-grey;
			font-size: $size-small;
		}
		.right-part {
			float: right;
			width: 45%;
			text-align: right;
			color:$text-grey;
			font-size: $size-small;
		}
		.btn {
			@include clearfix();
		}
	}
	.btn {
		@include clearfix();
	}
}
// FORMS
form {
	@include clearfix();
	::-webkit-input-placeholder {
		color: $text-select;
		line-height: 0.6;
		font-weight: normal;
	}

	:-moz-placeholder { /* Firefox 18- */
		color: $text-select;
		line-height: 0.6;
		font-weight: normal;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		color: $text-select;
		line-height: 0.6;
		font-weight: normal;
	}

	:-ms-input-placeholder {
		color: $text-select;
		line-height: 0.6;
		font-weight: normal;
	}
	.form-group {
		@include border-radius(5px);
		border:1px solid $text-grey-lighter;
		.form-item {
			@include clearfix();
			border-top: 1px solid $text-grey-lighter;
			height: 60px;
			width: 100%;
			position:relative;
			&.head {
				font-size: $size-small;
				color:$text-grey;
				font-weight: bold;
				height: 40px;
				line-height: 40px;
				padding: 0 10px;
			}
			&.with-btn {
				a {
					@include clearfix();
					padding:0 10px;
					.icon {
						margin-top: 11px;
					}
					span {
						line-height: 60px;
						color:$text-green;
						font-weight: bold;
					}
				}
			}
			&.checked {
				.icon {
					position: absolute;
					right: 10px;
					top: 15px;
					font-size: 1.4em;
					color: $bg-green;
				}
				input {
					padding-right: 50px;
				}
			}
			* {
				font-size: $size-global;
				color:$text-grey-lighter;
				height: 100%;
			}
			&:first-child {
				border:none;
			}
			input {
				width: 100%;
				height: 100%;
				display: block;
				border:none;
				outline: none;
				padding: 15px 10px;
				line-height: 1;
				max-height: 60px;
				@include border-radius(5px);
			}
			input[type="radio"] ,input[type="checkbox"] {
				display: none;
			}
			label {
				width: 100%;
				height: 100%;
				display: block;
				padding: 0 10px;
				line-height: 60px;
				color: $text-grey-lighter;
				float: left;
				.icon {
					display: none;
				}
				input[type="radio"]:checked ~ .icon {
					display: block;
				}
			}
			.select-custom {
				width: 100%;
				height: 100%;
				overflow: hidden;
				background: url('../resources/images/low-res/dropdown-arrow.png') center right no-repeat;
				.selected {
					width: 100%;
					height: 100%;
					max-height: 60px;
					display: block;
					border:none;
					outline: none;
					padding: 0 50px 0 10px;
					line-height: 60px;
					background-color: transparent;
					background-image: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					appearance: none;
				}
			}
			.assign-select {
				padding: 0;
			}
		}
	}
	.error-message {
		@include clearfix();
		@include border-radius(5px);
		border:1px solid $text-red;
		display: block;
		width: 100%;
		height: 30px;
		padding:0 10px;
		color: $text-red;
		line-height: 28px;
		position: relative;
		margin-bottom: 20px;
		.msg  {
			padding-right: 30px;
			width: 100%;
		}
		.icon {
			position: absolute;
			right: 5px;
			top: 4px;
			background: none;
			text-align: center;
			height: 28px;
			font-size: 1.2em;
		}
	}
}
.display {
	display:block!important;

}

.loader-content {
    margin: 0;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(255, 255, 255, 0.7);
    padding: 0;
    line-height: 0;
}

.centered {
	display: block;
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}