// backgrounds
$bg-white:#ffffff;
$bg-green:#97BD00;
$bg-grey:#666666;
$bg-grey-dark: #575757;
$bg-locked:#e6e6e6;
$bg-red:#BF272D;
$bg-black:#000000;

// text colors
$text-white:#ffffff;

$text-grey-dim:#CACACA;
$text-grey-lighter:#808080;
$text-grey:#4D4D4D;
$text-grey-dark:#333333;
$text-grey40: #666666;
$text-black:#000000;

$text-green:#97BD00;
$text-green-dark:#9abf00;

$text-red:#BF272D;
$text-yellow:#e1a549;

$text-logo-top:#6F8C00;
$text-select:#B1B1B1;

// text sizes
$size-global:20px;
$size-small:15px;
$size-logo:105px;
$size-logo-small:40px;

// border colors
$border-login:#f9f9f7;
$border-grey-dark:#333333;
$border-modal: #E5E5E5;