/*
-----------------------------------------------------------------------------------------------
BROWSER SPECIFIC
-----------------------------------------------------------------------------------------------
*/
/*
-----------------------------------------------------------------------------------------------
FireFox
-----------------------------------------------------------------------------------------------
 */
@-moz-document url-prefix() {
  .target { color: red  }
}

:-moz-placeholder { /* Firefox 18- */
     padding-left: 0.6em;
     font-weight: 900;
     color:rgb(136,136,136);
     font-size: 24px;
 }
/*
-----------------------------------------------------------------------------------------------
Chrome
-----------------------------------------------------------------------------------------------
 */

-webkit-min-device-(){
  /*.target { color: red  } */
}

::-webkit-input-placeholder {
   padding-top: 0.3em;
   font-weight: 900;
   color:rgb(136,136,136);
   font-size: 1em;
}

/*
-----------------------------------------------------------------------------------------------
Safari
-----------------------------------------------------------------------------------------------
 */

/* iPhone / mobile webkit */
@media screen and (max-device-width: 480px) {
 .target { color: red  }
}

/*
-----------------------------------------------------------------------------------------------
Opera
-----------------------------------------------------------------------------------------------
 */

/* Opera 9.27 and below, safari 2 */
:root .target {color: green\0;}
