<header class="details-header">
    <nav class="header-options-section">
        <ul class="single">
            <li class="btn-helper close">
                <a class="new-icons right-icon header-back-icon" back-button></a>
            </li>
            <li class="btn-main">
                <a class="active"><span class="hide-text-overflow"> {{title}} </span></a>
            </li>
            <div class="line"></div>
        </ul>
    </nav>
</header>
<section class="details-container" ng-class="{'edit-mode': editMode}">
    <div ui-view></div>
</section>
