<header class="home-header">
    <nav class="header-options-section">
        <ul class="header-options-section">
            <li class="to-left">
                <a class="new-icons plus-icon header-more-icon" ng-class="{'more-active': moreMode}" ng-click="toggleMoreMode()"></a>
            </li>
            <li class="to-center glow-logo">
                <span class="top-part">GLOW</span>
                <span class="bottom-part">EXPENSES REPORT</span>
            </li>
            <li class="to-right">
                <a class="new-icons signout-icon header-signout-icon" ng-click="signOut()"></a>
            </li>
            <div class="line" ng-show="moreMode"></div>
        </ul>
    </nav>
    <div class="header-options-section header-options-section-margin green-bg" ng-show="moreMode">
        <div class="item-floated green-bg" ng-click="createExpense()">
            Create Expense
        </div>
        <div class="item-floated green-bg item-floated-rigth" ng-click="createReport()">
            Create Report
        </div>
    </div>
    <div class="header-options-section blue-bg">
        <div class="item-floated blue-bg" ng-class="{ 'item-active': activeView === 0}">
            <a ng-click="goToView('expenses')">
                <span>Expenses</span>
            </a>
        </div>
        <div class="item-floated blue-bg" ng-class="{ 'item-active': activeView === 1}">
            <a ng-click="goToView('reports')">
                <span>Reports</span>
            </a>
        </div>
    </div>
</header>
<section class="home-container" ng-class="{'padding-to-top': moreMode}">
    <div class="swiper-container" swipe-and-snap on-pan-end="setActiveview($activeView)" active-view="{{activeView}}">
        <div class="swiper-wrapper">
            <div class="swiper-slide" ui-view="expenses"></div>
            <div class="swiper-slide" ui-view="reports"></div>
        </div>
    </div>
</section>