<script type="text/ng-template" id="editSaveExpenseModal">
    <div class="modal-body no-padding">
        <div class="message">
            <span class="icon icon-photo-taken"></span>
            <p>Your <span class="bold">Expense</span> has been successfully <span class="bold">{{text}} </span></p>
        </div>
        <a class="btn btn-full" ng-click="goToReports()">
            Go to Reports
        </a>
        <a class="btn btn-full last" ng-click="goToExpensesList()">
            Go to Expenses List
        </a>
    </div>
</script>