<!-- header of the website -->
<div ng-include="'./scripts/header/views/header.html'" ng-controller="HeaderCtrl"></div>
<header>
    <nav>
        <ul class="single">
            <li class="btn-helper">
                <a class="icon icon-close-black"  back-button></a>
            </li>
            <li class="btn-main">
                <a class="active"><span>{{title}}</span></a>
            </li>
            <div class="line"></div>
        </ul>
    </nav>
</header>
<article class="expenses-body with-padding" ng-controller="AddEditExpenseCtrl">
    <section class="camera">
        <a class="icon icon-camera-big" ng-click="angular.isDefined(takePhoto()) && takePhoto()" ng-hide="imageSelectedPath.length>1">
        </a>
        <p class="text-info">Add Invoice Image </p>
        <div class="icon cameraFoot" style="background-image: url('{{imageSelectedPath}}')" ng-show="imageSelectedPath.length>1">

        </div>
        <button ng-click="cancelPhoto()" ng-show="imageSelectedPath.length>1">Cancel image</button>
    </section>
    <form role="form" name="expenseForm">
        <div ng-show="showErrorMessage" class="error-message">
            <div class="msg errorMsg">{{errorMessage}}
            </div>
            <a class="icon icon-error-close">x</a>
        </div>
        <div class="form-group bottom20">
            <div class="form-item head">
                Assign Expense to:
            </div>
            <div class="form-item checked">
                <label for="test">
                    <input type="radio" class="input-checked" id="test" placeholder="Title" name="assign"  class="form-control" ng-model="expense.description" required>
                    <span class="icon icon-check-green"></span>
                    Lorem ipsum.
                </label>
            </div>
            <div class="form-item checked">
                <label for="test1">
                    <input type="radio" class="input-checked" id="test1" placeholder="Title" name="assign" class="form-control" ng-model="expense.description" required>
                    <span class="icon icon-check-green"></span>
                    Lorem ipsum dolor.
                </label>
            </div>
            <div class="form-item with-btn" ng-click="createReport()">
                <a class="btn-with-icon create-report">
                    <span class="icon icon-create-report"></span>
                    <span>Create Report</span>
                </a>
            </div>
        </div>
        <div class="form-group">
            <div class="form-item checked">
                <input type="text" class="input-checked" id="description" placeholder="Title"  class="form-control" ng-model="expense.description" required>
                <div class="descr pullDown"></div>
                <span class="icon icon-check-green"></span>
            </div>
            <div class="form-item">
                <div class="select-custom" ng-click="expenseTypeModal($event)">
                    <span class="selected"> -- choose expense type -- </span>
                    <!-- <select ng-model="expense.expenseType" ng-options="expenseType.name for expenseType in expenseTypes" ng-click="expenseTypeModal()">
                        <option value="">-- choose expense type --</option>
                    </select> -->
                </div>
            </div>
            <div class="form-item">
                <input type="text" id="date" class="form-control" placeholder="{{ date | date:'yyyy-MM-dd' }}"  disabled>
                <div class="date pullDown"></div>
            </div>
            <div class="form-item">
                <input type="number" min="0.01" step="0.01" id="amount" placeholder="Amount"  class="form-control"
                ng-model="expense.originalAmount" required decimal-places>
            </div>
            <div class="form-item">
                <div class="select-custom" ng-click="expenseCurrencyModal($event)">
                    <span class="selected"> -- choose currency -- </span>
                    <!-- <select ng-model="expense.currency" ng-options="currency.name for currency in currencies" ng-click="expenseCurrencyModal()">>
                        <option value="">-- choose currency --</option>
                    </select> -->
                </div>
            </div>
            <div class="form-item">
                <input type="number" min="0.01" step="0.01" id="rate" placeholder="Rate"  class="form-control"
                ng-model="expense.exchangeRate" required decimal-places>
            </div>
        </div>
        <div class="btn-fixed">
            <button class="btn" type="submit" ng-click="addOrEdit(expenseForm, expense)">{{buttonLabel}}</button>
        </div>
        <loading></loading>        
    </form>
</article>

<div ng-include="'./scripts/modalTemplates/expense-currency-modal.html'" ng-controller="HeaderCtrl"></div>
<div ng-include="'./scripts/modalTemplates/expense-type-modal.html'" ng-controller="HeaderCtrl"></div>