<header>
    <nav>
        <ul class="single">
            <li class="btn-helper close">
                <a class="icon icon-close" back-button></a>
            </li>
            <li class="btn-main">
                <a class="active"><span>{{title}}</span></a>
            </li>
            <div class="line"></div>
        </ul>
    </nav>
</header>
<article class="expenses-body with-padding" ng-controller="AddEditExpenseCtrl">
    <section class="camera">
        <div ng-hide="imageSelectedPath">
            <a class="icon icon-camera" ng-click="angular.isDefined(takePhoto()) && takePhoto()" >
            </a>
            <p class="text-info">Add Invoice Image </p>
        </div>

        <div ng-show="imageSelectedPath" ng-click="viewImage()">
            <a class="icon expense-image">
                <img ng-src="{{imageSelectedPath}}" />
            </a>

            <p class="text-info">Add Invoice Image </p>
        </div>

    </section>
    <form role="form" name="expenseForm" novalidate  ng-submit="enterCurrency()" class="pb50">
        <div ng-show="showErrorMessage" class="error-message">
            <div class="msg errorMsg">{{errorMessage}}
            </div>
            <a class="icon icon-close"></a>
        </div>
        <div>
            <div class="form-group bottom20" ng-if="!reportId">
                <div class="form-item head">
                    Assign Expense to:
                </div>
                <div class="form-item" ng-click="selectReport()">
                    <label class="assign-select" for="report">
                        <div ng-switch="angular.isDefined(report.title) === true">
                            <div ng-switch-when="true">
                                <input type="text" id="report" placeholder="Select a report" class="form-control"
                                       ng-model="report.title" disabled required>
                            </div>
                            <div ng-switch-when="false">
                                <input type="text" id="report" placeholder="Select a report" class="form-control"
                                       ng-model="report.title" disabled>
                            </div>
                        </div>
                    </label>
                </div>
            </div>
            <div class="form-group bottom20">
                <div class="form-item" >
                    <label for="description">
                        <input type="text" id="description" placeholder="Description" class="form-control"
                               ng-model="expense.description" required>
                    </label>
                </div>
                <div class="form-item" >
                    <label for="amount">
                       <input type="text" id="amount" class="form-control"
                            ng-model="expense.originalAmount" field="currencyVal" placeholder="Amount"  currency required number-focus>
                    </label>
                </div>
                <div class="form-item" ng-click="selectCurrency(expense.currency)">
                    <div>
                        <label>
                            <span class="form-control">
                                {{expense.currency.name || 'Currency'}}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-item" ng-click="selectContableCode(expense.contableCode)">
                    <div>
                        <label>
                            <span class="form-control">
                                {{expense.contableCode.name || 'Contable code'}}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="form-item">
                    <label for="exchangeRate">
                        <input type="text" id="exchangeRate" class="form-control"
                        ng-model="expense.exchangeRate" currency required number-focus>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <button class="btn" type="submit" ng-click="save(expenseForm, expense)">{{buttonLabel}}</button>
        </div>
    </form>
</article>
