<!-- header of the website -->
<div ng-include="'./scripts/header/views/header.html'" ng-controller="HeaderCtrl"></div>
<div class="expenses" ng-controller="AddEditExpenseCtrl">
    <div class="header font15">
        <div class="left fift" back-button></div>
        <span class="expensesHeader">{{title}}</span>
    </div>
    <div class="camera ">
        <div class="icon cameraFoot" ng-click="angular.isDefined(takePhoto()) && takePhoto()" ng-hide="imageSelectedPath.length>1">

        </div>
        <div class="icon cameraFoot" style="background-image: url('{{imageSelectedPath}}')" ng-show="imageSelectedPath.length>1">

        </div>
       <button ng-click="cancelPhoto()" ng-show="imageSelectedPath.length>1">Cancel image</button>
    </div>
    <form role="form" name="expenseForm">
        <div class="form-group">
            <input type="text" id="description" placeholder="Title"  class="form-control" ng-model="expense.description" required>
            <div class="descr pullDown"></div>
        </div>
        <div>
            <select class="form-group" ng-model="expense.expenseType" ng-options="expenseType.name for expenseType in expenseTypes">
                <option value="">-- choose expense type --</option>
            </select>
        </div>
        <div class="form-group">
            <input type="text" id="date" class="form-control" placeholder="{{ date | date:'yyyy-MM-dd' }}"  disabled>

            <div class="date pullDown"></div>
        </div>
        <div class="form-group">
            <input type="number" min="0.01" step="0.01" id="amount" placeholder="Amount"  class="form-control"
                   ng-model="expense.originalAmount" required decimal-places>
        </div>
        <div>
            <select class="form-group" ng-model="expense.currency" ng-options="currency.name for currency in currencies">
                <option value="">-- choose currency --</option>
            </select>
        </div>
        <div class="form-group">
            <input type="number" min="0.01" step="0.01" id="rate" placeholder="Rate"  class="form-control"
                   ng-model="expense.exchangeRate" required decimal-places>
        </div>
        <button class="btn btn-default btn-green" type="submit" ng-click="addOrEdit(expenseForm, expense)">{{buttonLabel}}</button>
        <loading></loading>
        <div ng-show="showErrorMessage">
            <div class="msg errorMsg">{{errorMessage}}</div>
        </div>
    </form>
</div>