<div class="expenses">
    <div>
        <div ng-show="showSearch" class="searchCOntain">
            <input placeholder="Search" ng-model="searchedExpense.description" />
            <span ng-click="toggleSearching(false); searchedExpense.description=''">Cancel</span>
        </div>

        <div class="header font15" ng-show="!showSearch">
            <span class="icon left"></span>
            <span class="expensesHeader">Expenses</span>
            <span class="icon right" ng-click="addExpense()"></span>
        </div>
        <div ng-show="showSorting" class ="sortingControlls alignLeft">
            <div class="row">
                <div ng-click="sort(true)">
                    <span class="">Create Day</span><span class="upArrow"></span>
                    <span ng-show="reverseSorting" class="checkSign greenThick right"></span>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div ng-click="sort(false)" class="top1">
                    <span class="">Create Day</span><span class="downArrow"></span>
                    <span ng-show="!reverseSorting" class="checkSign greenThick right"></span>
                </div>
            </div>
        </div>
        <div ng-show="!selectMode()" class="nav font15">
            <div class="third alignLeft">
                
            </div>
            <div class="third arrow">
                <div ng-click="enableSorting()"></div>
            </div>
            
            <div class="third alignRight">
                <!--
                    <div class="selectExp">Select</div>
                -->
                <div ng-click="toggleSearching(true)"></div>
            </div>
            
        </div>
        <div class="Infinity" infinite-scroll="getMoreExpenses()">
            <div class="expenseItem ready" ng-repeat="expense in expenses | filter:searchedExpense">
                    <!--<div ng-click="selectMode() ? '' : expense.toggleDetails()">-->
                    <div ng-click="expense.toggleDetails()">
                        <div>
                            <div class="itemName half left alignLeft">
                                <div class="icon inBl">

                                    <div ng-switch="expense.selected" ng-show="selectMode()" ng-click="expense.toggleSelect()" >
                                        <div ng-switch-when="true">
                                            <span class="icon">selected</span>
                                        </div>
                                        <div ng-switch-when="false">
                                            <span class="icon">unselected</span>
                                        </div>
                                    </div>

                                    <span >{{ expense.title }}</span>
                                </div>
                                <div>
                                    <div>{{ expense.date }}</div>
                                </div>
                            </div>

                        </div>
                        <div class="half right">
                            <div>
                                <span class="money">{{ expense.originalAmount | currency }}</span>

                                <div ng-switch="expense.imageType === 'void'" stop-event="click">
                                    <div ng-switch-when="true" ng-click="expense.toggleSelect()"
                                         class="thickBorder right" ng-class="expense.selected ? ' backGreen' : ' '">
                                        <span class="icon thick "></span>
                                    </div>
                                    <div ng-switch-when="false" ng-click="takePhoto()" class="cameraBorder right"  >
                                        <div class="icon photo cameraFoot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                <div ng-show="expense.showDetails">
                    <div ng-include="'./scripts/expenses/views/expense-details.html'"></div>
                </div>

            </div>
            <p ng-show="(expenses | filter:searchedExpense).length==0">No items found</p>
        </div>
    </div>
    <div ng-show="selectMode()" ng-click="toggleSelectMode(false)">Cancel</div>
</div>
<loading></loading>
