<article class="expenses-body with-padding">
    <section class="camera">
        <div ng-show="!expense.imagePath && !expense.localImagePath">
            <a class="icon icon-camera" ng-click="takePhoto()" >
            </a>
            <p class="text-info">Add Invoice Image </p>
        </div>

        <div ng-show="expense.imagePath || expense.localImagePath" ng-click="viewImage(expense)">
            <a class="icon expense-image">
                <img ng-src="{{expense.imagePath || expense.localImagePath}}" />
            </a>

            <p class="text-info">Change Invoice Image</p>
        </div>

    </section>
    <form role="form" name="expenseForm" novalidate class="pb50">
        <div ng-show="showErrorMessage" class="error-message">
            <div class="msg errorMsg">{{errorMessage}}
            </div>
            <a class="icon icon-close"></a>
        </div>
        <div>
            <div class="form-group bottom20">
                <div class="form-item head">Assign Expense to</div>
                <div class="form-item select custom" ng-click="selectReport()">
                    <input readonly type="text" id="report" placeholder="Select a report..." class="form-control" ng-model="report.description"><span class="icon icon-arrow-down"></span>
                </div>
            </div>
            <div class="form-group label">
                <div class="form-item head">Description</div>
                <div class="form-item" >
                    <input ng-disabled="expense.amex" type="text" id="description" placeholder="Enter Description..." class="form-control" ng-model="expense.description" name="expenseDescription" maxlength="100"  ng-change="removeWhiteSpaces()" ng-trim="false" ng-class="{'form-item-req': expenseForm.expenseDescription.$error.required}" required>
                </div>
            </div>
            <div class="form-group label">
                <div class="form-item head">Original Amount <span class="form-item-max-text" ng-if="expenseForm.amount.$error.maxlength"> - Max Value Exceeded -</span></div>
                <div class="form-item" >
                    <input ng-disabled="expense.amex" type="text" class="form-control" ng-model="expense.originalAmount" name="amount" id="amount" placeholder="Specify Amount..." ng-blur="formatCurrency('originalAmount')" maxlength="20" ng-class="{'form-item-req': expenseForm.amount.$error.required,'form-item-max': expenseForm.amount.$error.maxlength}" required>
                </div>
            </div>
            <div class="form-group label">
                <div class="form-item head">Date
                    <span class="form-item-max-text" ng-if="expenseForm.date.$error.date"> - Not a valid date! -</span>
                </div>
                <div class="form-item ">
                    <input type="date" ng-model="expense.date"  placeholder="yyyy-MM-dd" name="date" required
                           ng-disabled="expense.amex" ng-class="{'form-item-req': expenseForm.date.$error.required}"
                            min="{{ minDate }}" max="{{ maxDate }}"/>
                </div>
            </div>
            <div class="form-group label">
                <div class="form-item head">Original Currency</div>
                <div class="form-item select-custom">
                    <input readonly ng-disabled="expense.amex" ng-click="selectCurrency(expense.currency)" type="text" class="form-control" ng-model="expense.currency.name" name="currency" placeholder="Select Currency" ng-class="{'form-item-req': expenseForm.currency.$error.required}" required><span class="icon icon-arrow-down"></span>

            </div>
            <div class="form-group label">
                <div class="form-item head">Contable Code</div>
                <div class="form-item select-custom">
                    <input readonly ng-disabled="expense.amex" ng-click="selectContableCode(expense.contableCode)" type="text" id="exchangeRate" class="form-control" ng-model="expense.contableCode.name" name="contableCode" placeholder="Select Contable Code" ng-class="{'form-item-req': expenseForm.contableCode.$error.required}" required><span class="icon icon-arrow-down"></span>
                </div>
            </div>
            <div class="form-group label">
                <div class="form-item head">Exchange Rate <span class="form-item-max-text" ng-if="expenseForm.exchangeRate.$error.maxlength"> - Max Value Exceeded -</span></div>
                <div class="form-item">
                    <input type="text" id="exchangeRate" class="form-control" placeholder="Specify Exchange Rate..." ng-model="expense.exchangeRate" name="exchangeRate" maxlength="20" ng-blur="formatCurrency('exchangeRate')" ng-class="{'form-item-req': expenseForm.exchangeRate.$error.required,'form-item-max' : expenseForm.exchangeRate.$error.maxlength}" required>
                </div>
            </div>
        </div>
        <div>
            <button class="btn" ng-disabled="expenseForm.$invalid" ng-click="save()">{{::buttonLabel}}</button>
        </div>
    </form>
</article>
