<div class="expenses">
    <div class="header font15">
        <span class="icon left">=</span>
        <span class="expensesHeader">Expenses</span>
        <span class="icon right">+</span>
    </div>
	<div class="nav font15">
		<div class="third alignLeft">loop</div>
		<div class="third">up-down</div>
		<div class="third alignRight">Select</div>
	</div>
    <div class="nav font15">
        <div class="half alignLeft inBl">Cancel</div>
        <div class="half alignRight inBl">Trash icon</div>
    </div>
    <div class="expenseItem ready">
        <div class="itemName half left alignLeft">
            <div>
                <div class="icon inBl">
                    <span> test </span>
                </div>
                <div class="inBl">
                	<div> with icon in front </div>
                	<div> 01.01.1980 </div>
                </div>
            </div>
        </div>
        <div class="itemName half right alignRight">
        	<div>
                <span class="money"> $123 </span> 
                <span class="icon">test</span>
            </div>
        </div>
    </div>
    <div class="expenseItem picture">
        <div class="itemName half left alignLeft">
            <div> whitout icon in front </div>
            <div> 01.01.1980 </div>
        </div>
        <div class="itemName half right alignRight">
            <div>
                <span class="money"> $123 </span> 
                <span class="icon">test</span>
            </div>
        </div>
    </div>
    <div ng-show="showErrorMessage">
        <div class="msg errorMsg">{{errorMessage}}</div>
    </div>
</div>

        {{name}}}