<div class="view-content expenses-body">
    <expenses-list></expenses-list>
    <div ng-if="reportId && editMode" class="edit-options-fixed">
        <div class="addexp-section" ng-click="addExpenses($event)">
            <a class="new-icons plus-icon-size"></a>
            <span class="text-section">Add Expenses</span>
        </div>
    </div>
    <div ng-show="!reportId && editMode && (activeView === 0)" id="edit-opt" class="edit-options-fixed">
        <div class="exrate-section" ng-click="editExRate($event)">
            <a class="new-icons edit-icon-size"></a>
            <span class="text-section">Exchange rate</span>
        </div>
        <div class="rem-section" ng-click="deleteExpenses($event)">
            <a class="new-icons trash-icon-size"></a>
            <span class="text-section">Remove</span>
        </div>
    </div>
</div>