<div style="height: 100px; border: 1px solid red;">
    <div>
        <span>Currency   </span>{{expense.currency.code}} - {{expense.currency.name}}
    </div>
    <div>
        <span>Rate </span> {{expense.exchangeRate}}
    </div>

    <div ng-switch="expense.imageType !== 'void'">
        <div ng-switch-when="true" ng-click="showInvoiceImage()">
          image
        </div>
        <div ng-switch-when="false">
           no image
        </div>
    </div>

    ----------------------------------
     <div>
         delete
     </div>
     <div ng-click="editExpense()">
         edit
     </div>
</div>
