<header>
    <nav>
        <ul class="single">
            <li class="btn-helper close">
                <a class="icon icon-close"  back-button></a>
            </li>
            <li class="btn-main">
                <a class="active"><span>Expenses</span></a>
            </li>
            <div class="line"></div>
        </ul>
    </nav>
</header>
<article class="expenses-body with-padding no-expenses" ng-controller="AddEditExpenseCtrl">
    <section>
       <h2>No expenses</h2>
    </section>
</article>