<header ng-controller="HeaderCtrl">
    <nav>
        <ul>
            <li class="btn-helper profile">
                <a class="icon icon-signout" href="" ng-click="signOut()"></a>
            </li>
            <li class="btn-main expenses">
                <a ng-class="{ active: isActive('/expenses')}" ng-click="viewExpenses()"><span>Expenses</span> </a>
            </li>
            <li class="btn-main reports">
                <a ng-class="{ active: isActive('/reports')}" ng-click="viewReports()"> <span>Reports</span> </a>
            </li>
        </ul>
    </nav>
</header>
<article class="expenses-body with-padding no-expenses" ng-controller="AddEditExpenseCtrl">
    <section>
       <h2>No expenses</h2>
    </section>
</article>
