<!-- header of the website -->
<div ng-include="'./scripts/header/views/header.html'" ng-controller="HeaderCtrl"></div>
<div class="expenses">
    <div class="header font15">
        <div class="left fift"></div>
        <span class="expensesHeader"> Send Expense Report</span>
    </div>
    <form role="form" name="reportExpenseForm">
    	<div class="form-group day">
            <input type="text" id="title" placeholder="NY DAY 2"  class="form-control" ng-model="expense.title" autofocus>
        </div>
        <div class="form-group">
            <div class="selectWrapper">
            	<div> Expenses assigned to:</div>
				<div> Expenses assigned to:</div>
				<div> Expenses assigned to:</div>
            </div>
        </div>
		<input type="text" id="date" placeholder="Date"  class="form-control" ng-model="expense.date">
            <div class="projName pullDown"></div> 
        <div ng-show="showErrorMessage">
            <div class="msg errorMsg">{{errorMessage}}</div>
        </div>
    </form>
</div>