/app/styles/**/*.css
/node_modules
/app/bower_components
mockeyDebugFile*.*
/.sass-cache
/dist
.tmp
.idea
.DS_Store
/jsp
/cordova/www
/cordova/platforms/android/ant-build
/cordova/platforms/android/ant-gen
/cordova/platforms/android/CordovaLib/ant-build
/cordova/platforms/android/CordovaLib/ant-gen
